.home-side {
    margin-top: 30px;
    font-family: 'AvantGarde';
    .section-l {
        padding: 0;
        nav {
            .nav-item {
                margin: 0;
                .nav-link {
                    background-color: #51B848;
                    color: #ffffff;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                &:active {
                    background-color: #106B36;
                }
            }
        }
    }
    .section-r {
        background-color: #e8e8e8;
    }
}